body {
  background-color: whitesmoke;
  font-family: "Poppins";
}

nav {
  background-color: cornflowerblue;
  height: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

nav ul li {
  height: 100%;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

footer a {
  background: #3645cf;
  background: linear-gradient(to right, #3645cf 0%, #cf2b4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
