body {
  background-color: #252525;
  /* background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
*/
  font-family: "Poppins";
  color: whitesmoke;
  overflow-x: hidden;
}

.titulo {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  background-color: #ff3cac;
  background-image: linear-gradient(
    45deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container h1 {
  font-size: 25px;
  padding-left: 10px;
}

.logo {
  font-weight: 100;
}

.parrafo {
  font-size: 20px;
  font-weight: 100;
}

.section::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

button,
button::after {
  padding: 10px 50px;
  font-size: 20px;
  border: 1px solid rgb(0, 255, 213);
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "ONE";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

.output h1 {
  font-size: 25px;
}

.output {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  width: 45%;
  height: 380px;
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #363636;
  font-size: large;
  font-weight: 600;
}

.output p {
  margin-left: 12px;
}

.input {
  width: 45%;
  height: 380px;
  resize: none;
  padding: 10px;
  float: left;
  margin: 10px;
  display: flex;
  color: rgba(57, 57, 145, 0.877);
  text-align: justify;
  font-size: 20px;
  text-overflow: clip;
  background-color: whitesmoke;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 10px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  display: flex;
  text-align: justify;
  color: rgba(57, 57, 145, 0.877);
  background-color: whitesmoke;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
}

.buttons {
  width: 50%;
  margin-left: 80px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .output,
  .input {
    width: 90%;
    float: none;
    border-radius: 5px;
    margin: 5px;
  }

  .input {
    order: 1;
    flex: 0 0 60%;
  }

  .buttons {
    order: 2;
    margin-top: 10px;
  }

  .output {
    order: 3;
    flex: 0% 0 60%;
    margin-top: 25px;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .input {
    order: 1;
    /* estilos para el input */
  }

  .buttons {
    order: 2;
    /* estilos para los botones */
  }

  .output {
    order: 3;
    /* estilos para el output */
  }

  .button2 {
    padding: 10px 5px;
    margin-right: 90px;
  }

  footer {
    order: 4;
    text-align: center;
  }

  .movil {
    font-size: 15px;
  }
}

nav {
  background-color: #333;
  height: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

nav ul li {
  height: 100%;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  background: #93cfbd;
  background: linear-gradient(to right, #93cfbd 0%, #c465cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer a {
  background: #93cfbd;
  background: linear-gradient(to right, #93cfbd 0%, #c465cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
