body {
  background-color: black;
  /* background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);

  font-family: "Poppins"; */
  color: whitesmoke;
}

.titulo {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  background-color: #ff3cac;
  background-image: linear-gradient(
    45deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  font-weight: 100;
}

.parrafo {
  font-size: 20px;
  font-weight: 100;
}

.section::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}




.input {
  display: block;
  margin: auto;
  margin-bottom: 100px;
  background-color: whitesmoke;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: whitesmoke;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

.output {
  background-color: whitesmoke;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  display: block;
  margin: auto;
}

.output:focus {

  display: block;
  color: rgb(0, 255, 255);
  background-color: whitesmoke;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}